<h2>Alphabetized Customers</h2>
<%= link_to 'All Customers', root_path %> | 
<%= link_to 'Customers Missing Email', customers_missing_email_path %>

<% @customers.each do |customer| %>
  <%= render partial: 'customer', locals: { customer: customer } %>
<% end %>

