<h2>All Customers</h2>
<%= link_to 'Alphabetized Customers', customers_alphabetized_path %> | 
<%= link_to 'Customers Missing Email', customers_missing_email_path %>

<% @customers.each do |customer| %>
  <%= render partial: 'customer', locals: { customer: customer } %>
<% end %>

