<h2>Customers Missing Email</h2>
<%= link_to 'All Customers', root_path %> | 
<%= link_to 'Alphabetized Customers', customers_alphabetized_path %>

<% @customers.each do |customer| %>
  <%= render partial: 'customer', locals: { customer: customer } %>
<% end %>
